@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-fixed {
    @apply fixed z-[9999] bg-slate-900 bg-opacity-80;
    backdrop-filter: blur(5px);
}

.glow {
    text-shadow:
  0 0 20px #34d399, 0 0 40px #34d399;
}

.glow-text {
    text-shadow:
  0 0 20px #d1d5db, 0 0 40px #d1d5db;
}

body {
    font-family: 'proxima_nova', sans-serif;
}

@font-face {
  font-family: 'Galactic Simple';
  src: url(./galactic-simple.ttf);
}

.font-nl {
    font-family: 'Galactic Simple', sans-serif;
}
